@import "tailwindcss";

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
}

body {
  margin: 0;
  background-color: #090a09;
  background-image: url("./assets/Backg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.ant-card-head {
  min-height: 0 !important;
}

/* Dark mode styles for Ant Design dropdown */
.custom-dropdown .ant-dropdown-menu {
  background-color: #1f1f1f !important; /* Dark background */
  border: 1px solid #333 !important; /* Subtle border */
}

.Chat-ai-btn {
  padding: 5px 20px;
  background-color: #161515;
  width: max-content;
  border-radius: 10px;
  color: #ee80a7;
}

.Study-Palnner-Head {
  display: flex;
  justify-content: space-between;
  background-color: #161515;
  color: #ad46ff;
  padding: 4px 15px;
  border-radius: 10px;
  margin-bottom: 8px;
}

.Study-Palnner-Body {
  background-color: #161515;
  padding: 2px 15px;
  color: #7e7e7e;
}

.Priorities-list {
  position: relative;
  background: #161515;
  padding: 10px 8px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.custom-dropdown .ant-dropdown-menu-item {
  color: white !important; /* Light text */
}

.custom-dropdown .ant-dropdown-menu-item:hover {
  background-color: #333 !important; /* Slightly lighter on hover */
}

.ant-card .ant-card-body {
  padding: 10px !important;
}

.message-input-container {
  display: flex;
  align-items: center;
}

.message-input {
  background-color: #161515;
  border: none;
  color: white;
  flex-grow: 1;
  padding: 10px;
}

.message-input:active,
.message-input:focus,
.message-input:hover {
  background-color: #1f1f1f;
  box-shadow: none;
}

.message-input::placeholder {
  color: #777;
}

.message-input::-webkit-input-placeholder {
  color: #777;
}
.send-button {
  background-color: #4a4a4a;
  color: white;
  margin-left: 8px;
}

.chat-message-container::-webkit-scrollbar {
  display: none;
}

.quiz-card {
  max-width: 250px;
  background-color: #222;
  color: white;
  border-radius: 10px;
}

.quiz-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quiz-icon {
  font-size: 20px;
  color: #f39c12;
}

.quiz-topic {
  font-size: 12px;
  color: #bbb;
}

.quiz-text {
  font-size: 14px;
  color: #ddd;
}

.message-input-person::placeholder {
  color: #777;
}

.message-input-person::-webkit-input-placeholder {
  color: #777;
}

.message-input-person {
  color: white;
  background-color: #090a09;
}

@media (max-width: 768px) {
  .chat-footer {
    flex-direction: column;
    gap: 10px;
  }

  .quiz-card {
    width: 100%;
  }
}
